 /* .container {
    position: fixed;
} */

/* .navbar li {
    display:inline-block;
    text-align: center;
}  */

.navbar, .fixed-top, .navbar-expand-lg, .navbar-dark, .bg-dark {
    color: white;
};

.nav {
    color: white;
};